<h2 class="d-flex justify-content-center">ANONYMOUS ENTERPRISE LIMITED</h2>
<div class="container">
    <h3 class="d-flex justify-content-center">WEB API, SQL SERVER AND ANGULAR 12 DEMO APP</h3>
    <h5 class="d-flex justify-content-center">EMPLOYEE MANAGEMENT PORTAL</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="nav justify-content-center">
            <li class="navbar-item">
                <button routerLink="department" class="btn btn-outline-dark" Button>Departments</button>
            </li>

            
            <li class="navbar-item">
                <button routerLink="employee" class="btn btn-outline-dark" Button>Employees</button>
            </li>
        </ul>
    </nav>


<router-outlet></router-outlet>

</div>